.product-list {
    color: black;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    width: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 div.navbar {
    top: 0; /* Positions it at the top */
    z-index: 1; /* Ensures it stays above other content */
    width: 100%; /* Full width */
 }

  ul.navbar-list {
    list-style-type: none; /* list-style-image, for image */
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0.97;
  }
  ul.navbar-list li {
    float: left;
    padding: 10px 15px; /* Adds padding for spacing */
  }
 
  div.start {
    background-image: url("download (2).jpg");
    background-size: cover;
    padding: 200px 50px;
    margin-bottom: 15px;
    width: 100%;
    height: 420px;
    transition: background-image 2s ease-in-out;
}