.product-list {
    color: black;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    width: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 div.navbar {
    position: absolute;
    top: 0; /* Positions it at the top */
    left: 0;
    z-index: 2; /* Ensures it stays above other content */
    width: 100%; /* Full width */
    margin: 0; /* Removes default margin */
    padding: 10px 150px; /* Removes default padding */
 }

  ul.navbar-list {
    list-style-type: none; /* list-style-image, for image */
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0.97;
    background-color: #F0F0F0;
    width: 100%;
    border-radius: 5px;
  }
  ul.navbar-list li {
    float: left;
    padding: 10px 15px; /* Adds padding for spacing */
  }
  ul.navbar-list li:hover {
    cursor: pointer; /* Changes cursor to pointer on hover */
  }
 
  div.start {
    position: relative;
    background-image: url("download (2).jpg");
    background-size: cover;
    padding: 200px 50px;
    margin-bottom: 15px;
    width: 100%;
    height: 550px;
    color: white;
    transition: background-image 2s ease-in-out;
    font-weight: bold;
    font-size: 20px;
}
div.newsblog {
  padding: 10px 200px;
}

div.mover {
  padding: 0 20px;
}

img.product-image {
    width: 80%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.2s; /* Animation for hover effect */
}
img.product-image:hover {
    transform: scale(1.05); /* Scale up on hover */
}
